body {
    background-color: lightcoral;
    padding: 0 5%;
}

main {
    background-color: #fff;
    border-top: 3px solid red;
    margin: auto;
    min-width: 400px;
    padding: 2em;
}

p {
    margin: 1em 0;
}

@media (max-width: 450px) {
    main {
        min-width: none;
        width: 100%;
    }
}
