body {
	background-color: #fff;	
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    width: 100%;
    background-color: blue;
    padding: 0.5em;
    gap: 1em;
}

header h1 {
    color: white;
    text-align: center;
    flex: 1 1 100%;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: lightgray;
}

#exit {
    color: red;
}

main {
    padding: 1em 2em;
}

#rooms {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 2em;
    width: 100%;
}

.room {
    flex: 1 1 calc(33.33% - 2em);
    max-width: 400px;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: 0.2s;
}

.room:hover {
    background-color: #e0e0e0;
}

.room-data {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 850px) {
    section > h2 {
        text-align: center;
    }

    .room {
        flex: 1 1 calc(50% - 2em);
    }
}

@media (max-width: 600px) {
    .room {
        flex: 1 1 100%;
        max-width: none;
        min-width: none;
        width: 100%;
    }
}
