header {
    background-color: #17779a;
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #125d7d;
}

header > h1 {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}