<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tela inicial</title>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />

		<link rel="stylesheet" th:href="@{/css/default.css}" />
		<link rel="stylesheet" th:href="@{/css/index.css}" />
    </head>
    <body>
        <header>
            <h1>Room Reservation System</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/profile">Profile</a>
                <a href="/reservations">Reservations</a>
                <a href="/login" id="exit">Exit</a>
            </nav>
        </header>
        <main>
            <section>
				<h2>Rooms to make a reservation</h2>
                <div id="rooms">
                </div>
            </section>
        </main>
		<footer>
			<p>All rights reserved &copy</p>
			<p>Pedro Yohan Mendonça da Silva <a href="mailto:yohan.dev6@gmail.com">yohan.dev6@gmail.com</a></p>
		</footer>
		<script>

			// Buscar salas
			const token = localStorage.getItem('jwtToken');

			fetch('/rooms', {
			    method: 'GET',
			    headers: {
			        'Authorization': `Bearer ${token}`,
			        'Content-Type': 'application/json'
			    }
			})
			.then(response => {
			    if (response.ok) {
			        return response.json();
			    } else {
			        throw new Error('Não autorizado');
			    }
			})
			.then(data => {
			    loadRooms(data);
			})
			.catch(error => {
			    console.error('Erro de autenticação ou expiração de token', error);
			    alert('Sua sessão expirou. Você será redirecionado para a página de login.');
			    window.location.href = '/login';
			});

			// Exibir salas
			function loadRooms(data) {
			    const roomsdiv = document.querySelector('#rooms');
			    roomsdiv.innerHTML = '';
			    
			    data.forEach(room => {
			        const div = document.createElement('div');
			        div.classList.add('room');
			        
			        div.innerHTML = `
			            <h3>${room.name}</h3>
			            <p>Capacity: ${room.capacity}</p>
			            <p class="availability">${room.availability ? 'Available now' : 'Unavailable now'}</p>
			        `;
					
					div.addEventListener('click', () => {
						window.location.href = `/room/${room.id}`;
					});

			        roomsdiv.appendChild(div);
			    });

			    const rooms = document.querySelectorAll(".room");

			    rooms.forEach((room) => {
			        const availability = room.querySelector(".availability");

			        if (availability.textContent.trim() === "Available now") {
			            availability.style.color = "green";
			        } else if (availability.textContent.trim() === "Unavailable now") {
			            availability.style.color = "red";
			        }
			    });
			}
		</script>
    </body>
</html>