.nav {
    display: flex;
    justify-content: end;
    margin-right: 0.75em;
}

.nav-list {
    display: flex;
    gap: 3em;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #002366;
}

@media (max-width: 860px) {
    .nav-list {
        gap: 1em;
    }

    .nav-list a {
        font-size: medium;
    }
}
